@model IEnumerable<MyFirstDatabaseCodeFirstMVC.Models.Semester>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NamaSemester)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TahunAjaran)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NamaSemester)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TahunAjaran)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.KodeSemester }) |
            @Html.ActionLink("Details", "Details", new { id=item.KodeSemester }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.KodeSemester })
        </td>
    </tr>
}

</table>
