@model MyFirstDatabaseCodeFirstMVC.Models.Nilai

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nilai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Mahasiswa.Nama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mahasiswa.Nama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MataKuliah.NamaMk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MataKuliah.NamaMk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Semester.NamaSemester)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Semester.NamaSemester)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NilaiAngka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NilaiAngka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NilaiHuruf)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NilaiHuruf)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
